<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace= "com.example.hecmybatis.user.mapper.UserMapper">

  <resultMap id="UserResultMap" type="com.example.heccore.user.model.UserVO">
    <id property="userId" column="user_id"/>
    <result property="name" column="name"/>
    <result property="createdAt" column="created_at"/>
    <result property="updatedAt" column="updated_at"/>
    <result property="isDeleted" column="is_deleted"/>
  </resultMap>

  <select id="getUserById" resultMap="UserResultMap">
    SELECT * FROM users WHERE user_id = #{userId}
  </select>



</mapper>